.container-login {
    height: calc(100vh - 63.59px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-quinta);
}

.container-login h2 {
    font-size: 25px;
    margin: 1.5em;
    font-weight: 400;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    
    padding: 1em;
    width: 80%;
}

.formulario-login label {
    font-weight: 500;
}

.input-login {
    background-image: url(../../images/icone-login-arredondado.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

.input-password {
    background-image: url(../../images/icone-senha.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

.formulario-login button {
    background-color: #c33030;
    border: none;
    height: 2.8em;
    color: var(--cor-quinta);
    font-weight: 600;
    letter-spacing: 1px;
}

.link-esqueceu-senha {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0.1em;
    font-style: italic;
    color: #000;
}

.aviso-cadastro {
    text-align: center;
    margin: 1em 0 0.5em 0;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}